In [6]:
from joblib import load
import pandas as pd
from nltk.tokenize import word_tokenize

In [19]:
textes = ["ienferm hospit", "encan traba", "mujer hombres"]

data = pd.DataFrame({'Textos':textes})

data

           Textos
0  ienferm hospit
1     encan traba
2   mujer hombres

In [14]:
data.iloc[2]

Textos    mujer hombres
Name: 2, dtype: object

In [7]:
def tokenizer(text):
    return word_tokenize(text, language="spanish")

In [8]:
pipeline = load('thePipeline.joblib')

In [20]:
y = pipeline.predict(data['Textos'])

In [22]:
df = pd.read_excel('data/SinEtiquetatest_cat_345.xlsx')
df.shape

(1759, 2)

In [23]:
df.head()

                                      Textos_espanol  sdg
0  Se basa en los nueve años de educación básica ...  NaN
1  En la última década, y en particular desde 201...  NaN
2  AsÃ, por ejemplo, el estigma asociado a los be...  NaN
3  Hay muchos profesores no cualificados en las e...  NaN
4  A raíz de su preocupación por el hecho de que ...  NaN